.children {
  /* padding-left: 2em; */
}

.inputForm {
  text-align: left;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

input {
  margin: 0;
  border:0;
  width: 100%;
  font-size: 1em;
  position: relative;
  padding-left: 0em;
  flex: 1;
  height: 2em;
}

input:focus {
  outline: none;
}


.line {
  background-color: #adadad7a;
  height: 100%;
  height: -webkit-fill-available;
  height: -moz-fill-available;
  height: -fill-available;
  margin: 0.5em;
  margin-left: 1.35em;
  width: 0.5px;
  position: absolute;
}

span.bullet {
  flex-shrink: 0;
  font-size: 2em;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  margin-top: -0.27em;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
  padding: 0 0.5em;
  border-radius: 10px;
  border: 100px black;
}

.selected{
  background-color: #A7C7E7
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin: 0 0;
  position: relative;
  padding-left: 2.3em;
  margin-left: 0em;
}

/* li::before {
  content: "";
  background-color: gray;
  height: 100%;
  width: 0.5px;
  position: absolute;
  margin-right: 100px;
} */

span.bullet:hover {
  cursor: pointer;
}

.hidden {
  color: red;
}
